<section class="footer-box">
      <div class="main-box">
            <footer class="footer-first-box">
                  <div class="footer-text-box">
                        <div class="heading-box">
                              <strong class="headin-color">ABOUT</strong>
                        </div>
                        <P class="text-color">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem vero
                              facilis quis, delectus sit voluptatum enim nisi, sequi repudiandae error facere non
                              doloremque fugit at hic suscipit tenetur fugiat saepe.</P>
                        <div class="icon-box text-color">
                              <span><i class="fa-brands fa-cc-paypal"></i></span>
                              <span><i class="fa-brands fa-cc-visa"></i></span>
                              <span><i class="fa-brands fa-cc-amazon-pay"></i></span>
                        </div>
                        <div class="icon-text">
                              <span><i class="five-link fa-solid fa-lock"></i></span>
                              <p class="text-color ">Secure Online Payment </p>
                        </div>
                  </div>
            </footer>
            <div class="footer-box-second">
                  <div class="second-text-box">
                        <div class="heading-box">
                              <strong class="headin-color">CATEGORIES</strong>
                        </div>
                        <div class="text-color company-category">
                              <p>Cosmetic</p>
                              <p>Medicen</p>
                              <p>HealthCare Device</p>
                              <p>OTC Product</p>
                              <p>Nutrition</p>
                              <p>Other</p>
                        </div>
                  </div>
            </div>
            <div class="footer-box-second">
                  <div class="second-text-box">
                        <div class="heading-box">
                              <strong class="headin-color">INFORMATION</strong>
                        </div>
                        <div class="text-color company-category">
                              <p>About Us</p>
                              <p>Contect Us</p>
                              <p>Term & Condition</p>
                              <p>Return & Exchange</p>
                              <p>Shipping & Delivery</p>
                              <p>Private Policy</p>
                        </div>
                  </div>
            </div>
            <div class="fourth-box">
                  <div class="company-add-Email">
                        <div class="heading-box">
                              <strong class="headin-color">CONTACT</strong>
                        </div>
                        <div class="text-color">
                              <div class="icon-address"> <span><i class="fa-solid fa-location-dot"></i></span>
                                    <p>Address: XYZ, New Delhi, India Pin Code: 110005</p>
                              </div>
                              <div class="width-line"></div>
                              <div class="icon-phone">
                                    <span><i class="two-icon fa-solid fa-phone"></i></span>
                                    <p>Phone: +91 1234567890</p>
                              </div>
                              <div class="icon-phone">
                                    <span><i class="two-icon fa-solid fa-envelope"></i></span>
                                    <p>Email: Contect@gmail.com</p>
                              </div>
                              <div class="icon-phone five-socila-media-icon">
                                    <span><i class="five-link fa-brands fa-google"></i></span>
                                    <span><i class="five-link fa-brands fa-square-facebook"></i></span>
                                    <span><i class="five-link fa-brands fa-instagram"></i></span>
                                    <span><i class="five-link fa-brands fa-linkedin"></i></span>
                                    <span><i class="five-link fa-brands fa-twitter"></i></span>
                                    <span><i class="five-link fa-brands fa-youtube"></i></span>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      <div class="all-right-box">
            <p class="copy-right-text-color">Copyright © 2015 -2022 www.usaimportexportdata.com.All rights reserved.</p>
      </div>
</section>