<section class="similar-100">
    <div class="text-90">
        <strong>Similar Products To Compare</strong>
    </div>
    <div class="all-20">
        <div class="text-100">
            <div class="text-50">
            </div>
            <div class="text-60">
                <p class="font-90">Rating</p>
            </div>
            <div class="text-60">
                <p class="font-90">Brand</p>
            </div>
            <div class="text-60">
                <p class="font-90">Sweep</p>
            </div>
            <div class="text-60">
                <p class="font-90">Fan Type</p>
            </div>
            <div class="text-60">
                <p class="font-90">Power Consumption</p>
            </div>
            <div class="text-60">
                <p class="font-90">Speed</p>
            </div>
        </div>
        <div class="imga-text-90" *ngFor="let item of[1,2,3,4,5]">
            <div class="text-70">
                <div class="img-201">
                    <img src="assets/Img_folder/ceiling_fan.jpg" alt="">
                </div>
                <div class="long-text-90">
                    <p class="sun-90">Urja Lite 65W Brown 4 Blades Aluminium Wounded Fusion Fan, S</p>
                    <h4>₹1,049</h4>
                </div>
                <button class="btn-80">
                    <i class="solid-90 fa-solid fa-cart-shopping"></i>
                    <strong class="solid-90">ADD TO CHART</strong>
                </button>
            </div>
            <div class="text-60">
                <div class="digit-star">
                    <span>4.6</span>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p class="font-90"><span>(20 Reviews)</span></p>
            </div>
            <div class="text-60">
                <p class="font-90">Urja Lite</p>
            </div>
            <div class="text-60">
                <p class="font-90">600 mm</p>
            </div>
            <div class="text-60">
                <p class="font-90">Regular</p>
            </div>
            <div class="text-60">
                <p class="font-90">65 W</p>
            </div>
            <div class="text-60">
                <p class="font-90">830 rpm</p>
            </div>
        </div>
    </div>
</section>