<section class="first">
    <div class="main">
        <!-- <div class="child child2">
            <i class="fa-solid fa-bars"></i>
        </div> -->
        <div class="child child1"><img src="assets/Img_folder/logo_img.jpg" routerLink="/home">
        </div>
        <div class="child child3">
            <input type="text" placeholder="Search Product, Category, Brand..." name="search2">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
        <div class="both-icon-100">
            <div class="add-to-cart" routerLink="/add-cart">
                <div class="icon-and-text">
                    <span><i class="fa-solid fa-cart-shopping"></i></span>
                    <p>Add cart</p>
                </div>
            </div>
            <div class="login-link-100" routerLink="/login">
                <div class="child child4">
                    <i class="fa-regular fa-user"></i>
                    <p>Login</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section class="second"></section> -->

<section class="third">

    <div class="category dropdown" style="float:left;">

        <p class="dropbtn">Cosmetic</p>
        <div class="dropdown-content">
            <div class="hover_class">
                <a href="#" class="menu-1">
                    <span>Skin Care</span>
                    <div class="sub-menu">
                        <div></div>
                        <div>Suncreen</div>
                        <div>Serum</div>
                        <div>Foundation</div>
                        <div>Toner</div>
                        <div>Moisturizer</div>
                        <div>Concealer</div>
                    </div>
                </a>
            </div>
            <a href="#" class="menu-1">
                <span>Hair Care</span>
                <div class="sub-menu">
                    <div>Conditioner</div>
                    <div>Hair Gel</div>
                    <div>Hairstyling tool</div>
                    <div>Volumizing Shampoo</div>
                </div>
            </a>
            <a href="#" class="menu-1">
                <span>Makeup</span>
                <div class="sub-menu">
                    <div>Face</div>
                    <div>Lipstick</div>
                    <div>Eye Makeup</div>
                    <div>Nail Product</div>
                </div>
            </a>
            <a href="#" class="menu-1">
                <span>Perfume</span>
                <div class="sub-menu">
                    <div>option1</div>
                    <div>option2</div>
                    <div>option3</div>
                    <div>option4</div>
                </div>
            </a>
            <a href="#" class="menu-1">
                <span>Concealer</span>
                <div class="sub-menu">
                    <div>Liquid</div>
                    <div>Cream</div>
                    <div>Stick</div>
                    <div>Balm</div>
                    <div>Cream to powder</div>
                </div>
            </a>
            <a href="#" class="menu-1">
                <span>Foundation</span>
                <div class="sub-menu">
                    <div>Cream</div>
                    <div>Liquid</div>
                    <div>Cream to powder</div>
                    <div>Serum Foundation</div>
                    <div>CC Cream</div>
                    <div>BB Cream</div>
                </div>
            </a>
        </div>
    </div>
    <div class="category dropdown" style="float:left;">
        <p class="category dropbtn">Medicen</p>
        <div class="dropdown-content">
            <a href="#" class="menu-1">
                <span>Medicen</span>
                <div class="sub-menu">
                    <div>option1</div>
                    <div>option2</div>
                    <div>option3</div>
                    <div>option4</div>
                </div>
            </a>
            <a href="#" class="menu-1">
                <span>Medicen</span>
                <div class="sub-menu">
                    <div>option1</div>
                    <div>option2</div>
                    <div>option3</div>
                    <div>option4</div>
                </div>
            </a>
            <a href="#" class="menu-1">
                <span>Medicen</span>
                <div class="sub-menu">
                    <div>option1</div>
                    <div>option2</div>
                    <div>option3</div>
                    <div>option4</div>
                </div>
            </a>
            <a href="#" class="menu-1">
                <span>Medicen</span>
                <div class="sub-menu">
                    <div>option1</div>
                    <div>option2</div>
                    <div>option3</div>
                    <div>option4</div>
                </div>
            </a>
            <a href="#" class="menu-1">
                <span>Medicen</span>
                <div class="sub-menu">
                    <div>option1</div>
                    <div>option2</div>
                    <div>option3</div>
                    <div>option4</div>
                </div>
            </a>
            <a href="#" class="menu-1">
                <span>Medicen</span>
                <div class="sub-menu">
                    <div>option1</div>
                    <div>option2</div>
                    <div>option3</div>
                    <div>option4</div>
                </div>
            </a>
        </div>
    </div>
    <div class="category dropdown" style="float:left;">
        <p class="category dropbtn">HealthCare device</p>
        <div class="dropdown-content">
            <a href="#" class="menu-1">
                <span>Medicen</span>
                <div class="sub-menu">
                    <div>option1</div>
                    <div>option2</div>
                    <div>option3</div>
                    <div>option4</div>
                </div>
            </a>
            <a href="#" class="menu-1">
                <span>Medicen</span>
                <div class="sub-menu">
                    <div>option1</div>
                    <div>option2</div>
                    <div>option3</div>
                    <div>option4</div>
                </div>
            </a>
            <a href="#" class="menu-1">
                <span>Medicen</span>
                <div class="sub-menu">
                    <div>option1</div>
                    <div>option2</div>
                    <div>option3</div>
                    <div>option4</div>
                </div>
            </a>
            <a href="#" class="menu-1">
                <span>Medicen</span>
                <div class="sub-menu">
                    <div>option1</div>
                    <div>option2</div>
                    <div>option3</div>
                    <div>option4</div>
                </div>
            </a>
            <a href="#" class="menu-1">
                <span>Medicen</span>
                <div class="sub-menu">
                    <div>option1</div>
                    <div>option2</div>
                    <div>option3</div>
                    <div>option4</div>
                </div>
            </a>
            <a href="#" class="menu-1">
                <span>Medicen</span>
                <div class="sub-menu">
                    <div>option1</div>
                    <div>option2</div>
                    <div>option3</div>
                    <div>option4</div>
                </div>
            </a>
        </div>
    </div>

    <div class="category dropdown" style="float:left;">
        <p class="category dropbtn">OTC Product</p>
        <div class="dropdown-content">
            <a href="#" class="menu-1">
                <span>Medicen</span>
                <div class="sub-menu">
                    <div>option1</div>
                    <div>option2</div>
                    <div>option3</div>
                    <div>option4</div>
                </div>
            </a>
            <a href="#" class="menu-1">
                <span>Medicen</span>
                <div class="sub-menu">
                    <div>option1</div>
                    <div>option2</div>
                    <div>option3</div>
                    <div>option4</div>
                </div>
            </a>
            <a href="#" class="menu-1">
                <span>Medicen</span>
                <div class="sub-menu">
                    <div>option1</div>
                    <div>option2</div>
                    <div>option3</div>
                    <div>option4</div>
                </div>
            </a>
            <a href="#" class="menu-1">
                <span>Medicen</span>
                <div class="sub-menu">
                    <div>option1</div>
                    <div>option2</div>
                    <div>option3</div>
                    <div>option4</div>
                </div>
            </a>
            <a href="#" class="menu-1">
                <span>Medicen</span>
                <div class="sub-menu">
                    <div>option1</div>
                    <div>option2</div>
                    <div>option3</div>
                    <div>option4</div>
                </div>
            </a>
            <a href="#" class="menu-1">
                <span>Medicen</span>
                <div class="sub-menu">
                    <div>option1</div>
                    <div>option2</div>
                    <div>option3</div>
                    <div>option4</div>
                </div>
            </a>
        </div>
    </div>
    <div class="category dropdown" style="float:left;">
        <p class="category dropbtn">Nutrition</p>
        <div class="dropdown-content">
            <a href="#" class="menu-1">
                <span>Medicen</span>
                <div class="sub-menu">
                    <div>option1</div>
                    <div>option2</div>
                    <div>option3</div>
                    <div>option4</div>
                </div>
            </a>
            <a href="#" class="menu-1">
                <span>Medicen</span>
                <div class="sub-menu">
                    <div>option1</div>
                    <div>option2</div>
                    <div>option3</div>
                    <div>option4</div>
                </div>
            </a>
            <a href="#" class="menu-1">
                <span>Medicen</span>
                <div class="sub-menu">
                    <div>option1</div>
                    <div>option2</div>
                    <div>option3</div>
                    <div>option4</div>
                </div>
            </a>
            <a href="#" class="menu-1">
                <span>Medicen</span>
                <div class="sub-menu">
                    <div>option1</div>
                    <div>option2</div>
                    <div>option3</div>
                    <div>option4</div>
                </div>
            </a>
            <a href="#" class="menu-1">
                <span>Medicen</span>
                <div class="sub-menu">
                    <div>option1</div>
                    <div>option2</div>
                    <div>option3</div>
                    <div>option4</div>
                </div>
            </a>
            <a href="#" class="menu-1">
                <span>Medicen</span>
                <div class="sub-menu">
                    <div>option1</div>
                    <div>option2</div>
                    <div>option3</div>
                    <div>option4</div>
                </div>
            </a>
        </div>
    </div>
</section>