<section class="all-box">
    <section class="two-box-100">
        <section class="first">
            <div class="img-201">

                <!-- <img src="" class="xzoom" xoriginals="assets/Img_folder/zoom-image.png"> -->

                <img class="zoom-img" id="zoom_01" src="assets/Img_folder/{{srcImg}}.webp" data-zoom-image=""
                    width="411" />
                <div class="xzoom-thumbs">
                    <div class="image" *ngFor="let item of images;">
                        <img class="gallery" (click)="onClickGallery(item)" src="assets/Img_folder/{{item}}.webp"
                            alt="" />
                    </div>
                </div>

            </div>

            <div class="discription-100">
                <div class="txt-97">
                    <h3 class="chr-90">Chair Garage PU Leatherette Black Adjustable Height Office Chair with Back
                        Support,
                        CG156
                    </h3>
                </div>
                <div class="rating-21">
                    <div class="rating-digit-21">
                        <p class="t-10">4.3</p>
                        <p class="t-10"> <i class="fa-regular fa-star"></i></p>
                    </div>
                    <div class="ts-97">
                        <p>(12 Reviews)</p>
                    </div>
                </div>
                <div class="ty-20">
                    <p class="all-95">₹5,799 (Incl. of all taxes)</p>
                    <p class="all-95">
                        <strong class="ru-90">₹4,914</strong>
                        <small>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; ₹885 GST</small>
                    </p>
                    <p class="all-95">MRP
                        <del class="re-91">₹23,999
                        </del>
                        <span class="off-90">&nbsp; &nbsp;75% OFF </span>
                    </p>
                </div>
                <div class="wh-100">
                    <div class="di-90">4880 people bought this recently</div>
                </div>
                <div class="zx-90">
                    <div class="tn-93">
                        <div class="offer-90">
                            <p class="offer-45"> Offers and Coupons</p>
                        </div>
                        <div class="get-31">
                            <div class="icon71">
                                <i class="fa-brands fa-shopify"></i>
                            </div>
                            <div class="txte-87">
                                <p class="get-45"> Get GST invoice and save up to 18% on business purchases</p>
                            </div>
                            <div class="vi90">
                                <p>VIEW</p>
                            </div>
                        </div>
                        <div class="emi-89">
                            <div class="icon71">
                                <i class="fa-solid fa-calendar-days"></i>
                            </div>
                            <div class="txte-87">
                                <p class="get-45">
                                    EMIs Available On min. purchase of Rs. 3000 across banks and Rs. 4500 for Bajaj
                                    Finserv
                                </p>
                            </div>
                            <div class="vi90">
                                <p>VIEW</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wy-35">
                    <div class="ab-78">
                        <h5 class="bout-98">About This Product</h5>
                    </div>
                    <div class="lin-90"></div>
                    <div class="ab-78">
                        <p class="ke-87">Key Features</p>
                    </div>
                    <div class="abs-78">
                        <div class="point">
                            <i class="fa-solid fa-circle"></i>
                        </div>
                        <div class="c-67">
                            <p class="com">Comfort from Every Angle.</p>
                        </div>
                    </div>
                    <div class="abs-78">
                        <div class="point">
                            <i class="fa-solid fa-circle"></i>
                        </div>
                        <div class="c-67">
                            <p class="com">Can Swivel 360 Degrees without Noise..</p>
                        </div>
                    </div>
                    <div class="abs-78">
                        <div class="point">
                            <i class="fa-solid fa-circle"></i>
                        </div>
                        <div class="c-67">
                            <p class="com">Designed to Give You Maximum Support & Comfort..</p>
                        </div>
                    </div>
                    <div class="abs-78">
                        <p class="sho-94">SHOW ALL KEY FEATURES</p>
                    </div>
                    <div class="digit-78">
                        <p class="pro-25">Product Specifications</p>
                    </div>
                    <div class="row-col">
                        <div class="two-txt-56" *ngFor="let item of[1,2,3,4]">
                            <div class="one-txt-90">
                                <p class="cha-94">Brand</p>
                            </div>
                            <div class="one-txt-90">
                                <p class="cha-94">Chair Garage</p>
                            </div>
                        </div>

                    </div>
                    <div class="abs-78">
                        <p class="sho-94">SHOW ALL SPECIFICATIONS</p>
                    </div>
                    <div class="digit-78">
                        <p class="pro-25">Product Details</p>
                    </div>

                    <div class="peoduct-detail-90">
                        <p class="int-87">Introducing the Chair Garage PU Leatherette Black Adjustable Height Office
                            Chair
                            with
                            Back
                            Support! This chair is perfect for any office, home, school, or any other place you need a
                            comfortable and stylish chair. With its adjustable height and back support, this chair is
                            perfect for anyone. The Chair Garage PU Leatherette Black Adjustable Height Office Chair
                            with Back Support is also backed by a 6-month manufacturing warranty only. So do not
                            hesitate and order your own Chair Garage PU Leatherette Black Adjustable Height Office Chair
                            with Back Support today! The Chair Garage PU Leatherette Black Adjustable Height Office
                            Chair...
                            <br>
                            <br>READ MORE
                        </p>
                    </div>
                    <div class="digit-78">
                        <p class="pro-25">Product Details</p>
                    </div>
                </div>
                <div class="hw-90">
                    <div class="moglix-90">
                        <div class="mogli-98">
                            <h5 class="Mog">Moglix Benefits</h5>
                        </div>
                        <div class="three-mogil-79">
                            <div class="all-mogil-43">
                                <i class="red fa-solid fa-file-invoice"></i>
                                GST Invoice Available
                            </div>
                            <div class="all-mogil-43">
                                <i class="red fa-solid fa-file-invoice"></i>
                                Secure Payments
                            </div>
                            <div class="all-mogil-43">
                                <i class="red fa-solid fa-file-invoice"></i>
                                365 Days Help Desk
                            </div>
                        </div>
                    </div>
                    <div class="Return-90">
                        <div class="ret-90">
                            <h5>Return & Warranty Policy</h5>
                        </div>
                        <div class="five-box">
                            <div class="five-90">
                                <i class="red fa-solid fa-file-invoice"></i>
                                Upto 7 Days Returnable
                            </div>
                            <div class="five-90">
                                <i class="red fa-solid fa-file-invoice"></i>
                                Missing Product
                            </div>
                            <div class="five-90">
                                <i class="red fa-solid fa-file-invoice"></i>
                                Wrong Product
                            </div>
                            <div class="five-90">
                                <i class="red fa-solid fa-file-invoice"></i>
                                Damaged Product
                            </div>
                            <div class="five-90">
                                <i class="red fa-solid fa-thumbs-down"></i>
                                Defective Product
                            </div>
                            <div class="five-91">
                            </div>
                        </div>

                    </div>
                    <div class="wth-100">
                        <div class="chaire-img-90">
                            <img src="assets/Img_folder/chr-img-90.jpeg" alt="">
                        </div>
                        <div class="txt-90-icon">
                            <div class="li-34">
                                <strong class="look-90">
                                    Looking to purchase Office Chairs in bulk?
                                </strong>
                            </div>
                            <div class="icon-67">
                                <i class="fa-solid fa-check"></i>
                                Purchase item in bulk quantity
                            </div>
                            <div class="icon-67">
                                <i class="fa-solid fa-check"></i>
                                Get at best price for your business
                            </div>
                        </div>
                        <div class="with-30">
                            <button class="click-to-90">CLICK TO RAISE REQUEST</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buy_add_box">
                <div class="lp-10">
                    <p class="all-99">₹5,799 (Incl. of all taxes)</p>
                    <p class="all-95">
                        <strong class="rue-90">₹4,914</strong>
                        <small>&nbsp;&nbsp;&nbsp;₹900 GST</small>
                    </p>
                    <p class="all-97">MRP
                        <del class="re-90">₹23,999
                        </del>
                        <span class="off-41">&nbsp; 75% OFF </span>
                    </p>
                </div>
                <div class="wr-100">
                    <div class="update-91">
                        <strong>Update Qty</strong>
                    </div>
                    <div class="plus-minus">
                        <span class="subtraction-90">
                            -
                        </span>
                        <input type="text" name="" id="" placeholder="1">
                        <span class="subtraction-90">
                            +
                        </span>

                    </div>
                </div>

                <div class="red-botn">
                    <button class="red-90">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <strong>ADD TO CHART</strong>
                    </button>
                </div>
                <div class="red-botn">
                    <button class="red-91">
                        <strong>BUY NOW</strong>
                    </button>
                </div>
                <div class="butn-text-89">
                    <p class="del-33">Delivery Details</p>
                    <button class="thr-89">
                        <i class="red loc-87 fa-solid fa-location-dot"></i>
                        <input class="all-op" type="text" placeholder="Enter your pincode">
                        <P class="ck-22">CHECK</P>
                    </button>
                    <p>Check serviceability at your location</p>
                </div>
            </div>
        </section>
        <section class="second">
            <div class="product-100" routerLink="/disription">
                <div class="category-name">
                    <app-category-name></app-category-name>
                </div>
                <swiper id="annotation-swiper2" [config]="config" class="w-75 h-100 px-5 com-img">
                    <ng-template swiperSlide *ngFor="let item of [1,2,3,4,5,6,7,8,9]">
                        <div class="random-class w-25 d-flex align-items-center justify-content-between"
                            routerLink="/disription">
                            <app-product-first></app-product-first>
                        </div>
                    </ng-template>
                </swiper>
            </div>
        </section>
    </section>
</section>