<div class="all_box">
   <div class="header">
      <app-header></app-header>
   </div>
   <div>
      <router-outlet></router-outlet>
   </div>

   <div class="footer">
      <app-footer></app-footer>
   </div>
</div>



<!-- <div class="headr_E">
        <app-header></app-header>
    </div> -->
<!-- <div class="footer-page-100">
      <app-footer></app-footer>
  </div> -->

<!-- <div class="side-b">
        <app-side-bar></app-side-bar>
    </div> -->

<!-- <div class="product-firt">
       <app-product-first></app-product-first>
    </div> -->

<!-- <div class="product-firt">
        <app-product-second></app-product-second>
     </div> -->

<!-- <div class="product-firt">
        <app-product-third></app-product-third>
     </div> -->

<!-- <div class="product-firt">
        <app-product-fourth></app-product-fourth>
     </div> -->

<!-- <div class="product-firt">
        <app-product-fifth></app-product-fifth>
     </div> -->

<!-- <div class="product-firt">
        <app-product-sixth></app-product-sixth>
     </div> -->
\


<!-- <div class="add-fir">
      <app-add-first></app-add-first>
   </div> -->





<!-- <div class="prodt-30-discription-100">
      <app-discription></app-discription>
   </div>  -->

<!-- <div class="similar-product100">
      <app-similar-products></app-similar-products>
   </div>  -->

<!-- <div class="side-filter-200">
      <app-side-filter></app-side-filter>
   </div>  -->

<!-- <div class="cart-100">
        <app-cart></app-cart>
    </div> -->

<!-- <div class="login-page-100">
      <app-login-page></app-login-page>
  </div> -->
<!-- <div class="main  bg-success"></div> -->

<!-- <div class="Header"></div> -->

<!-- </div> -->