<section class="first">
    <div class="f-98">
        <div class="img-text-30">
            <div class="img-90">
                <img src="assets\Img_folder\fan.png">
            </div>
            <div class="text-98">
                <p class="y-50">Chair Garage PU Leatherette Black</p>
                <p class="y-50 discount"><s>₹ 23999</s><span class="digit-text-90"> 75% OFF</span></p>
                <p class="y-50 b-97">₹5,799</p>
            </div>

            <div class="red-botn">
                <button class="add-to-cart" routerLink="login">
                    <strong>Add to Cart</strong>
                </button>
                <button class="red-90" routerLink="login">
                    <strong>Buy Now</strong>
                </button>
            </div>
        </div>
    </div>
</section>