<!-- <p>cart works!</p> -->
<section class="first">
    <div class="main">
        <div class="my-cart-100">
            <div class="text-900">
                <h5>My Cart</h5>
            </div>
            <div class="text-900">
                <div class="tw-20">
                    <p class="pad-90">2 item(s) in your cart</p>
                </div>
                <div class="ts-90">
                    <p class="pad-90">Qty</p>
                </div>
                <div class="tx-80">
                    <p class="pad-90">Price</p>
                </div>
            </div>
            <div class="text-900">
                <div class="img-75">
                    <img src="assets/Img_folder/ceiling_fan.jpg" alt="">
                </div>
                <div class="txt-950">
                    <p>Chair Garage PU Leatherette Black Adjustable Height Office .</p>
                    <s>₹7,999.00</s> <strong> ₹4,914.00</strong>
                </div>
                <div class="icon-925">
                    <div class="delete-90 plus-100">
                        <i class="fa-solid fa-trash-can"></i>
                    </div>
                    <div class="plus-100 delete-90">
                        <i class="fa-solid fa-plus"></i>
                    </div>

                </div>
            </div>
        </div>
     

        <div class="payment-summary-100"></div>
    </div>

</section>