<section class="first-100">

    <div class="rating-90">
        <strong>Category</strong>
    </div>
    <div class="input-text-90">
        <i class="fa-sharp fa-solid fa-chevron-right"></i>
        <p class="digit-90">
            Show in stock only</p>
    </div>
    <div class="row-line-90"></div>
    <div class="rating-90">
        <strong>Price</strong>
    </div>
    <div class="input-text-90">
        <input type="checkbox" name="vehicle3" value="Boat" checked>
        <p class="digit-90">
            1 - ₹500</p>
    </div>
    <div class="input-text-90">
        <input type="checkbox" name="vehicle3" value="Boat" checked>
        <p class="digit-90">
            ₹501-₹1001</p>
    </div>
    <div class="input-text-90">
        <input type="checkbox" name="vehicle3" value="Boat" checked>
        <p class="digit-90">

            ₹1001 - ₹2500</p>
    </div>
    <div class="input-text-90">
        <input type="checkbox" name="vehicle3" value="Boat" checked>
        <p class="digit-90">
            ₹2501 - ₹5000</p>
    </div>
    <div class="input-text-90">
        <input type="checkbox" name="vehicle3" value="Boat" checked>
        <p class="digit-90">
            ₹5001 - ₹10000</p>
    </div>
    <div class="input-text-90">
        <input type="checkbox" name="vehicle3" value="Boat" checked>
        <p class="digit-90">
            ₹10001 - *</p>
    </div>
    <div class="row-line-90"></div>

    <div class="rating-90">
        <strong>Brand</strong>
    </div>
    <div class="search-90">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input class="text-150">
    </div>
    <div class="scroll-90">
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                Greenleaf</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                MXVOLT</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                Kirloskar</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                Crompton</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                Wilo</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                Greenleaf</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                Greenleaf</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                Greenleaf</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                Greenleaf</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                Greenleaf</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                Greenleaf</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                Greenleaf</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                Greenleaf</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                Greenleaf</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                Greenleaf</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                Greenleaf</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                Greenleaf</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                Greenleaf</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                Greenleaf</p>
        </div>
    </div>
    <div class="row-line-90"></div>

    <div class="discount-90">
        <div class="rating-90">
            <strong>Discount</strong>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">50% or more</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">40% or more</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">30% or more</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">20% or more</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">10% or more</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                0% or more</p>
        </div>
    </div>
    <div class="row-line-90"></div>

    <div class="rating-90">
        <strong>Ratings</strong>
    </div>
    <div class="input-text-90">
        <input type="checkbox" name="vehicle3" value="Boat" checked>
        <div class="digit-star">
            <span>4</span>
            <i class="fa-solid fa-star"></i>
        </div>
        <p class="digit-90">
            & Above</p>
    </div>
    <div class="input-text-90">
        <input type="checkbox" name="vehicle3" value="Boat" checked>
        <div class="digit-star">
            <span>3</span>
            <i class="fa-solid fa-star"></i>
        </div>
        <p class="digit-90">
            & Above</p>
    </div>
    <div class="input-text-90">
        <input type="checkbox" name="vehicle3" value="Boat" checked>
        <div class="digit-star">
            <span>2</span>
            <i class="fa-solid fa-star"></i>
        </div>
        <p class="digit-90">
            & Above</p>
    </div>

    <div class="rating-90">
        <strong>Badges</strong>
    </div>
    <div class="search-90">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input class="text-150">
    </div>
    <div class="scroll-90">
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                Deal of the day</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                HPY100</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                In Demand</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                Moglix Choice</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                Non Returnable</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                Pump50</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                Same day dispatch</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                Top Seller</p>
        </div>
    </div>
    <div class="row-line-90"></div>

    <div class="rating-90">
        <strong>Power Rating</strong>
    </div>
    <div class="search-90">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input class="text-150">
    </div>
    <div class="scroll-90">
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">0.09 kW</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">0.1 kW</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                0.12 kw</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                0.13 kw</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                0.14 kw</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                0.175 kw</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                0.18 kw</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                0.2 kw</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                0.25 kw</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                0.3</p>
        </div>
    </div>
    <div class="row-line-90"></div>




    <div class="rating-90">
        <strong>Number Of Phases</strong>
    </div>
    <div class="input-text-90">
        <input type="checkbox" name="vehicle3" value="Boat" checked>
        <p class="digit-90">
            Single Phase</p>
    </div>
    <div class="input-text-90">
        <input type="checkbox" name="vehicle3" value="Boat" checked>
        <p class="digit-90">
            Three Phase</p>
    </div>
    <div class="row-line-90"></div>

    <div class="rating-90">
        <strong>Motor Power</strong>
    </div>
    <div class="search-90">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input class="text-150">
    </div>
    <div class="scroll-90">
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">0.125 HP</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">0.13 HP</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                0.17 HP</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                0.18 HP</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                0.25 HP</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                0.26 HP</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">

                0.33 HP</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                0.33 HP</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                0.35 HP</p>
        </div>
        <div class="input-text-90">
            <input type="checkbox" name="vehicle3" value="Boat" checked>
            <p class="digit-90">
                0.37 HP</p>
        </div>
    </div>
    <div class="row-line-90"></div>

    <div class="rating-90">
        <strong>Availability</strong>
    </div>
    <div class="input-text-90">
        <input type="checkbox" name="vehicle3" value="Boat" checked>
        <p class="digit-90">
            Show in stock only</p>
    </div>
   
</section>